/* css aplied for all */
a,
li {
  color: black;
  text-decoration: none;
}
a:hover {
  color: green;
}
/* *####################### */
/* ###### header ########### */
#header {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: #faf3dd;
}
#header-nav {
  width: 80%;
  height: 60px;
  margin: auto;
  justify-content: space-around;
  padding: 1%;
}
#header-nav-logo {
  width: 10%;
}
#header-nav-logo a:hover {
  font-size: xx-large;
  font-weight: 200;
}
#header-nav-main ul {
  width: 80%;
}
#header-nav-help {
  padding-left: 5px;
  margin-left: 5px;
  border-color: rgb(208, 218, 218);
}
#search {
  border-color: rgb(208, 218, 218);
}

/* *####################### */
/* *########  main body ######## */
#banner {
  width: 100%;
  color: black;
  margin-top: 16px;
  position: relative;
  top: 60px;
  z-index: 1;
  height: auto;
  padding-bottom: 50px;
}
#banner-page > img {
  width: 100%;
  height: 705px;
  margin: auto;
  margin-bottom: 5px;
}
/* section two */
#second-section {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}
#second-section > h1 {
  background-color: whitesmoke;
  padding: 2px;
}

.second {
  width: 80%;
  display: flex;
  margin: 50px auto;
  /* margin: auto; */
  justify-content: space-between;
  padding-bottom: 30px;
  flex-wrap: wrap;
  /* text-align: center; */
}
#second-pic {
  width: 45%;
  /* margin: 50px auto; */
  /* position: relative; */
  z-index: 0;
}
#second-pic > img {
  width: 100%;
}
#second-desc {
  width: 45%;
  z-index: 0;
  text-align: left;
}
#second-desc > p,
h3 {
  width: 100%;
}
#second-img {
  margin: auto;
  width: 100%;
}
#second-img > img {
  width: 100%;
}
/* third section */
#third-section {
  max-width: 100%;
  margin: auto;
  text-align: center;
}
#third {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}
#third-section-page {
  width: 300px;
  border: 1px solid gray;
  margin: 10px;
  padding: 15px;
  text-align: left;
}
#third-section-page img {
  max-width: 100%;
}
#third-section-page p a {
  text-decoration: none;
}
#third h2 {
  background-color: whitesmoke;
  font-family: 300;
  margin: 5px;
  padding: 5px;
}
/* fourth section */
#fourth-section {
  width: 100%;
  margin: auto;
  text-align: center;
}
#fourth {
  width: 80%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
#fourth-one {
  display: flex;
  width: 100%;
  margin: 100px auto;
  justify-content: space-between;
  padding: 30px;
  margin-right: 5px;
}
#fourth-desc {
  width: 45%;
}
#fourth-img {
  width: 45%;
}
#fourth-img img {
  width: 100%;
  padding: 2px;
}
#fourth-desc {
  width: 100%;
  padding: 5px;
}
#fourth-desc-parg {
  padding-top: 20px;
  margin: 10px;
  text-align: left;
}

/* *####################### */
/* *########  footer ######## */
#footer {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  margin: auto;
}
#footer-wrapper {
  display: flex;
  margin: 0 auto;
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-links {
  width: 40%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-links > ul {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footerList li {
  list-style: none;
  text-decoration: none;
  color: black;
}
.footerList li a:hover {
  color: green;
  font-size: x-large;
}

.footer-links > ul li {
  list-style: none;
  text-decoration: none;
  color: whitesmoke;
}
.footer-links > ul li a {
  text-decoration: none;
  color: black;
}
.footer-links > ul li a:hover {
  list-style: none;
  text-decoration: dotted;
  color: green;
}
.fa-brands {
  padding-right: 1px;
}
#footer-img {
  padding-top: 40px;
}
#copyright {
  padding: 5px;
  text-align: center;
}
#copyright li {
  list-style: none;
  color: rgb(204, 54, 54);
}
.thankyouImg {
  width: 80%;
  height: 200px;
}
