/* css aplied for all */
a,li{
    color: black;
    text-decoration: none;
}
a:hover{
    color: green;
}
/* *####################### */
/* ###### header ########### */
#header{
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #faf3dd;
}
#header-nav{
    width: 80%;
    height: 60px;
    margin: auto;
    justify-content: space-around;
    padding: 1%;

}
#header-nav-logo{
    width: 10%;
    }
#header-nav-logo a:hover{
font-size: xx-large;
font-weight: 200;
}
#header-nav-main ul{
    width: 80%;
}
#header-nav-help{
    padding-left: 5px;
    margin-left: 5px;   
    border-color: rgb(208, 218, 218); 
}
#search{
    border-color: rgb(208, 218, 218);
}

/* *####################### */
/* *########  main body ######## */


/* *####################### */
/* *########  footer ######## */
