#about {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 60px;
  padding-top: 50px;
  height: max-content;
  z-index: -1;
}
#about-page {
  width: 80%;
  height: 600px;
  padding: 20px;
  margin-bottom: 100px;
  background-color: whitesmoke;
  margin: auto;
  overflow-y: auto; /* corrected from "overcrow-y" */
}
#about-page p {
  height: auto;
}
